body {
    font-family: Helvetica;
    background-color: white;
}
h1 {
    font-family: Helvetica;
    font-size: 300%;
}
h2 {
    font-family: Helvetica;
    font-size: 250%;
}
h3 {
    font-family: Helvetica;
    font-size: 200%;
}
h4 {
  font-family: Helvetica;
  font-size: 100%;
}
h5 {
  font-family: Helvetica;
  font-size: 100%;
}
p {
    font-family: Helvetica;
    color: rgb(0, 0, 0);
    font-size: 120%;
}

.maintext {
    margin-left:15%
}
.main-text{
  margin-left: 10%;
  margin-right: 10%;
}
.indent {
  text-indent:9%
}

.figure-style{
  float: right;
  width:25%;
}
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
html{-ms-text-size-adjust:150%;-webkit-text-size-adjust:150%}body{margin:0}

/* top navigation bar */

.topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #293592;
    color: white;
  }

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn-active {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
  background-color: #293592;
  
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
  
}
/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: grey;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 0px;
  box-shadow: 0px 20px 20px 20px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #293592; 
  color:rgb(255, 255, 255)
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.arrow-down {
  width: 0; 
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid rgb(255, 255, 255);
  position:absolute;
  margin-top: 4px;
  margin-left: -16px;
}


/* banner logo */

.banner-logo {
  float:center;
  padding: 0px 0px 0px 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

  
/* Colours */
.css-page-title{color:rgb(57, 30, 212)!important;background-color:#f018d3!important}
.css-sidebar-color{color:rgb(20, 73, 187)!important;background-color:#f70000!important}


/* Button - Sets button colour behavour*/
.css-button:hover{color:#ffffff!important;background-color:#ffffff!important}

/* Container - Sets a container margin and padding*/
.css-container,.css-panel{padding:0.01em 16px}.css-panel{margin-top:16px;margin-bottom:16px}

.main-text{
  margin-left: 10%;
  margin-right: 10%;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: rgb(92, 92, 92);
  color:rgb(255, 255, 255);
  font-size: 12px;
}

a.footer:link {
  color:rgb(255, 255, 255)
}

a.footer:visited {
  color:rgb(198, 202, 248)
}

a.footer:hover {
  color:rgb(153, 243, 255)
}